#station-edit-form {

    .card-header.categories {
        cursor: pointer;
    }
}

.antenna-label, .frequency-ranges-label {
    display: inline-block;
    max-width: 100%;
    margin: 5px 3px 0 0;
    font-weight: 700;
}

.frequency-ranges {
    padding: 2px 0;
}

.frequency-ranges-label {
    margin-bottom: 5px;
}

#new-ranges {
    display: flex;
    align-items: flex-end;

    .default-range-label {
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
    }
}
